/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    nf-core/eggnogmapper Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    A 'blank slate' config file, appropriate for general use on most high performance
    compute environments. Assumes that all software is installed and available on
    the PATH. Runs in `local` mode - all jobs will be run on the logged in environment.
----------------------------------------------------------------------------------------
*/

process {

    // TODO nf-core: Check the defaults for all processes
    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    withLabel:process_single {
        cpus   = { 1 }
        memory = { 6000.MB }
    }
    withLabel:process_low {
        cpus   = { 2     }
        memory = { 12000.MB }
    }
    withLabel:process_medium {
        cpus   = { 6     }
        memory = { 36000.MB }
    }
    withLabel:process_high {
        cpus   = { 12    }
        memory = { 72000.MB }
    }
    withLabel:process_high_memory {
        memory = { 200000.MB }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withLabel: highmemXLarge {
        cpus = { 28 }
        memory = {470000.MB}
    }
    withLabel: computeXLarge {
        cpus = {28}
        memory = {470000.MB}
    }
    withLabel: highmemLarge {
        cpus = {28}
        memory = {240000.MB}
    }
    withLabel: highmemMedium {
        cpus = {14}
        memory = {120000.MB}
    }
    withLabel: large {
        cpus = {28}
        memory = {64000.MB}
    }
    withLabel: medium {
        cpus = {14}
        memory = {32000.MB}
    }
    withLabel: small {
        cpus = {8}
        memory = {16000.MB}
    }
    withLabel: mini {
        cpus = {4}
        memory = {8000.MB}
    }
    withLabel: tiny {
        cpus = {1}
        memory = {2000.MB}
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }
}
